<% provide(:title, 'New Task') %>

<h1>のタスク一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover" id="table-tasks">
      <thead>
        <tr>
          <th>名称</th>
          <th>作成日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.task_title, user_task_path(@user, task.id) %></td>
          <td><%= task.created_at %></td>
          <td>
            <%= link_to "編集", new_user_task_path(@user, task.id), class: "btn btn-success btn-form" %>
            削除
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>    
</div>