<% provide(:title, 'New Task') %>

<h1>タスク詳細</h1>

<div class="row">
  <div class="ol-md-10 col-md-offset-1">
    <table class="table table-bordered" id="table-task">
      <tbody>
        <tr>
          <p><%= @task.task_title %></p>
        </tr>
      </tbody>
    </table>
    
    <div>
      編集
      削除
    </div>
  </div>
</div>